@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');


body{
    font-family: 'roboto', sans-serif;
    background-color: cornflowerblue;
    margin: 0;
}
*,::after,::before{
    box-sizing: border-box;
}



/*---header---*/

#logo{
    font-size: 80px;
    padding: 10px;
    margin: 5px;
    font-family: 'Roboto';
    font-weight: 900;
    border-top: 5px solid white;
    border-bottom:5px solid white;
    line-height: 50px;
}
.navbar-nav{
    padding-left: 370px;   
}

/*---Main---*/
/*Header*/
#about{
    color: white;
    background-color: cornflowerblue;
}
aside{
    text-align: center;
}
img{
    border-radius: 150px;
}
#about h2{
    font-weight: 900;
}
.info h3{
    text-transform: uppercase;
    border-bottom: 1px dashed whitesmoke;
}
#info{
    text-align: center;
    padding-top: 90px;
}
#coordonne{
    text-align: center;
    padding-top: 90px;
}
#coordonne ul{
    list-style-type: none;
    padding-right: 35px;
}

/*Experiences*/

#experiences{
    padding-bottom: 20px;
    box-shadow: 0 0 10px black;
    background-color: #fff;
}
#experiences h3{
    padding-top: 10px;
    padding-left: 2em;
}
.comp{
    margin-bottom: 10px;
}
.comp p{
    flex: 0 0 50%;
}
.conteneur-barre{
    flex: 0 0 60%;
    border-radius: 10px;
    background-color: grey;
    border-bottom: 1px ridge grey;
}
.barre{
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.c100{
    width: 100%;
    background-color: cyan;
    border-radius: 5px;
}
.stars{
    font-size: 25px;
    padding-left: 40px;
}